/* stylesheet.css
  CSS sheet for the TopoPets webpage
 * Made on 04-11-2015
 * By GeOdin
 */

/*
 * Positioning
 * http://learnlayout.com/position.html
 * Only transparent background with not transparent text for chat:
 * * http://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it
 * * * #div {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba 
    background: rgba(54, 25, 25, .5);
	}
 * * * or even only the rgba(..)
 * show divs on top of google maps
 * * http://jsfiddle.net/9qDhX/
 * vertical-align the text of the gameWon text
 * make sure gameWon resizes properly when the window is made smaller
 */

body {
	background-color: white;
	color: white;
}

#wholePage {
	position: relative;
	text-align: center;
}

#map {
	display: none;
	height: 98vh;
}

#activeTopoPets {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 0.5%;
	width: 25%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#activeTopoPetsTitle {
	position: relative;
	display: none;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#activeTopoPetsText {
	position: relative;
	display: none;
	width: 98%;
	height: 80%;
	top: 2vh;
	left: 1%;
	overflow-y: auto;
}

#activeTopoPet1 {
	display: none;
}

#activeTopoPet2 {
	display: none;
}

#activeTopoPet3 {
	display: none;
}

#activeTopoPet4 {
	display: none;
}

#activeTopoPet5 {
	display: none;
}

#location{
	position: absolute;
	display: none;
	top: 5.5%;
	left: 25.5%;
	width: 48%;
	height: 11.75vh;
/*	cursor: pointer;*/
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px #000000;
}

#locationName {
	position: relative;
	display: none;
	top: -1.75vh;
}

#recorder {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	z-index: 99;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#topoPetsFoundTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#topoPetsFound {
	display: none;
	position: relative;
	text-align: center;
	width: 36%;
	top: 3.75vh;
	left: 32%;
/*	opacity: 0.75;
 */
/*	background-color: #D4D4D4;
 */
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
}

#CHARFOIL {
	display: none;
	cursor: pointer;
	color: red;
	background-color: #CD7777;
}

#HAILO {
	display: none;
	cursor: pointer;
	color: aqua;
	background-color: #AEEEEE;
}

#LAVACHE {
	display: none;
	cursor: pointer;
	color: red;
	background-color: #CD7777;
}

#MOREEL {
	display: none;
	cursor: pointer;
	color: blue;
	background-color: #4981CE;
}

#MUDDITCH {
	display: none;
	cursor: pointer;
	color: #8B5742;
	background-color: #BC7642; /* was #985F48 */
}

#NEMATOAD {
	display: none;
	cursor: pointer;
	color: blue;
	background-color: #4981CE;
}

#PIRAMINI {
	display: none;
	cursor: pointer;
	color: #8B5742;
	background-color: #BC7642; /* was #A6684F */
}

#PYROSE {
	display: none;
	cursor: pointer;
	color: red;
	background-color: #CD7777;
}

#SANDANCE {
	display: none;
	cursor: pointer;
	color: #8B5742;
	background-color: #BC7642;
}

#SHEAL {
	display: none;
	cursor: pointer;
	color: blue;
	background-color: #4981CE;
}

#VAMPYRE {
	display: none;
	cursor: pointer;
	color: aqua;
	background-color: #AEEEEE;
}

#WINGDIGO {
	display: none;
	cursor: pointer;
	color: aqua;
	background-color: #AEEEEE;
}

#recorderCHARFOIL {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderCHARFOILTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: red;
	background-color: #CD7777;
	border-radius: 2px;
}

#recorderCHARFOILText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #CD7777;
}

#recorderCHARFOILBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 11.875vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderHAILO {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderHAILOTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: aqua;
	background-color: #AEEEEE;
	border-radius: 2px;
}

#recorderHAILOText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #AEEEEE;
}

#recorderHAILOBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderLAVACHE {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderLAVACHETitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: red;
	background-color: #CD7777;
	border-radius: 2px;
}

#recorderLAVACHEText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #CD7777;
}

#recorderLAVACHEBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderMOREEL {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderMOREELTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: blue;
	background-color: #4981CE;
	border-radius: 2px;
}

#recorderMOREELText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #4981CE;
}

#recorderMOREELBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderMUDDITCH {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderMUDDITCHTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #8B5742;
	background-color: #BC7642;
	border-radius: 2px;
}

#recorderMUDDITCHText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #BC7642;
}

#recorderMUDDITCHBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderNEMATOAD {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderNEMATOADTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: blue;
	background-color: #4981CE;
	border-radius: 2px;
}

#recorderNEMATOADText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #4981CE;
}

#recorderNEMATOADBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderPIRAMINI {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderPIRAMINITitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #8B5742;
	background-color: #BC7642;
	border-radius: 2px;
}

#recorderPIRAMINIText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #BC7642;
}

#recorderPIRAMINIBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderPYROSE {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderPYROSETitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: red;
	background-color: #CD7777;
	border-radius: 2px;
}

#recorderPYROSEText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #CD7777;
}

#recorderPYROSEBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderSANDANCE {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderSANDANCETitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #8B5742;
	background-color: #BC7642;
	border-radius: 2px;
}

#recorderSANDANCEText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #BC7642;
}

#recorderSANDANCEBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderSHEAL {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderSHEALTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: blue;
	background-color: #4981CE;
	border-radius: 2px;
}

#recorderSHEALText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #4981CE;
}

#recorderSHEALBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderVAMPYRE {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderVAMPYRETitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: aqua;
	background-color: #AEEEEE;
	border-radius: 2px;
}

#recorderVAMPYREText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #AEEEEE;
}

#recorderVAMPYREBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#recorderWINGDIGO {
	position: absolute;
	display: none;
	top: 5.5%;
	left: 73.5%;
	width: 26%;
	height: 43.625vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#recorderWINGDIGOTitle {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: aqua;
	background-color: #AEEEEE;
	border-radius: 2px;
}

#recorderWINGDIGOText {
	display: none;
	position: relative;
	text-align: center;
	width: 96%;
	top: 2vh;
	left: 2%;
	overflow-y: auto;
	text-shadow: 1px 1px #000000;
	background-color: white;
	color: #AEEEEE;
}

#recorderWINGDIGOBack {
	display: none;
	position: relative;
	width: 96%;
	height: 1.3em;
	top: 26.5vh;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	border-radius: 2px;
}

#turn {
	position: absolute;
	display: none;
	top: 50%;
	left: 0.5%;
	width: 25%;
	height: 40vh;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#player {
	position: relative;
	display: none;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#question {
	position: relative;
	display: none;
	width: 98%;
	top: 2vh;
	left: 1%;
}

#bag {
	position: absolute;
	display: none;
	top: 50%;
	left: 0.5%;
	width: 25%;
	height: 40vh;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#bagTitle {
	position: relative;
	display: none;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#bagText {
	position: relative;
	display: none;
	width: 98%;
	top: 2vh;
	left: 1%;
}

#gameWon {
	position: absolute;
	display: none;
	top: 87%;
	left: 25.5%;
	width: 48%;
	height: 11.75vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px #000000;
}

#story {
	position: absolute;
	display: none;
	top: 81.875%;
	left: 25.5%;
	width: 48%;
	height: 8.75vh;
	cursor: pointer;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#storyText {
	position: relative;
	display: none;
	width: 98%;
	top: 1.5vh;
	left: 1%;
}

#achievements {
	position: absolute;
	display: none;
	top: 50%;
	left: 73.5%;
	width: 26%;
	height: 40vh;
	background-color: transparent; 
/*
 	z-index: 99;
 */
 	background: rgba(00, 99, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#achievementsTitle {
	position: relative;
	display: none;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#achievementsText {
	position: relative;
	display: none;
	width: 98%;
	top: 2vh;
	left: 1%;
}

#achievementNone {
	display: none;
}

#achievementAllFireTopoPets {
	display: none;
}

#achievementAllTopoPets {
	display: none;
}

#journal {
	position: absolute;
	display: none;
	top: 50%;
	left: 73.5%;
	width: 26%;
	height: 40vh;
	background-color: transparent;
 	background: rgba(00, 99, 00, .23);
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#journalTitle {
	position: relative;
	display: none;
	width: 96%;
	height: 1.3em;
	left: 2%;
	cursor: pointer;
	font-size: 1.2em;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#journalText {
	position: relative;
	display: none;
	width: 98%;
	top: 2vh;
	left: 1%;
}

#buttons {
	position: absolute;
	display: none;
	top: 90.875%;
	left: 0.5%;
	width: 99%;
	height: 8.5vh;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
}

#buttonPlayer {
	position: fixed;
	top: 93vh;
	left: 4.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#buttonBag {
	position: fixed;
	top: 93vh;
	left: 20.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#buttonTopoPets {
	position: fixed;
	top: 93vh;
	left: 36.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#buttonTopoPetsFound {
	position: fixed;
	top: 93vh;
	left: 52.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#buttonAchievements {
	position: fixed;
	top: 93vh;
	left: 68.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}

#buttonJournal {
	position: fixed;
	top: 93vh;
	left: 84.75%;
	width: 10.5%;
	cursor: pointer;
	color: #ABABAB;
	background-color: white;
	text-shadow: 1px 1px #000000;
	border-radius: 2px;
}